<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mi Primer formulario</h1>

    <form action="/process" method="POST">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">
        </div>
        <div>
            <label for="location">Ubicacion</label>
            <select name="location" id="location">
                <option value="San jose">San Jose</option>
                <option value="California">California</option>
                <option value="San Francisco">San Francisco</option>
            </select>
        </div>
        <div>
            <label for="language">Lenguaje Favorito</label>
            <select name="language" id="language">
                <option value="Python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="Java">Java</option>
            </select>
        </div>
        <div>
            <label for="comment">Comentario:</label>
            <br>
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>